:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --nav-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --heading-card-color: #353430;
  --title-decor-color: #FF8DCB;
  --main-heading-color: #353430;
  --text-color: #353430;
  --border-button-hover: 1px solid rgba(50, 49, 45, 0.4);

  .header-rec {
    display: none;
  }
}