.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */
.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
  padding-bottom: 20px;
  min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
  min-height: 768px;
  }
}

/* Декоративный элемент REC */
.header-rec {
  position: absolute;
  top: 10px;
  right: 19px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  text-transform: uppercase;
  color: var(--nav-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--nav-color);
  box-shadow: 
    0 0 2px var(--nav-color),
    0 0 5px var(--nav-color),
    0 0 8px var(--nav-color);
}

@media (min-width: 768px) {
  .header-rec {
    top: 20px;
    right: 29px;
  }
}

/* Декоративный элемент УГОЛКИ */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

/* Кнопки навигации */
.header__theme-menu {
  margin-top: 10px;
  margin-right: 10px;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent; 
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  color: var(--nav-color);
  cursor: pointer;
  padding: 1,5px 13px 1.5px 13px;
  width: 70px;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin-top: 20px;
    margin-right: 0;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

/* Состояние кнопок */
.header__theme-menu-button_active {
  background-color: transparent;
  pointer-events: none;
  border: 1px solid var(--nav-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  border: var(--border-button-hover);
  cursor: pointer;
  background-color: transparent;
}

/* Заголовок шапки */
.header-title {
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--title-color);
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
    margin-right: 0;
  }
}

/* Текст шапки */
.header-text {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--heading-card-color);
}

.title-decor {
  background-color: var(--accent-color);
}

@media (min-width: 768px) {
  .header-text {
    width: calc(50% - 20px);
    margin-left: auto;
    margin-right: 20px;
  }
}

/* Основной блок */
.main {
  margin-top: 40px;
  display: grid;
  gap: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .main {
    margin-top: 60px;
    gap: 80px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Секция "Почему сосредоточиться так сложно" */
.who {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .who {
    grid-template-columns: 1fr 2fr;
  }
}

.main-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--main-heading-color);
}

/* Карточки "Почему сосредоточиться так сложно" */
.cards-who {
  display: grid;
  gap: 20px;
}

/* Карточка */
.card {
  display: grid;
  gap: 10px;
}

.title-card {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--heading-card-color);
}

.text-card {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--text-color);
}

/* Ссылки */
.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

/* Секция "Что снижает концентрацию внимания?" */
.what {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .title-what {
    width: calc((100% - 40px) / 3);
  }
}

/* Карточки "Что снижает концентрацию внимания?" */
.cards-what {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
}

@media (min-width: 1024px) {
  .cards-what {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Cекция "Как концентрироваться лучше?" */
.how {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .how {
    grid-template-columns: 1fr 2fr;
  }
}

/* Карточки с советами */
.cards-how {
  display: grid;
  gap: 20px; 
}

.advice-card {
  display: grid;
  gap: 10px;
}

.subtitle-card {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--heading-card-color);
}

/* Галерея */
.gallery {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-row: 2/4;
  }

  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .street {
    grid-column: 2/4;
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Футер */
.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  place-items: center;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
    min-height: 1024px;
    margin-top: 60px;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-height: 768px;
  }
}

.footer-title {
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}